.search-shopping {
  display: flex;
}

.search__up {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}

.search__up input {
  width: 375px;
  height: 24px;
}

.search__up-icon-left {
  margin-right: 10px;
  font-weight: 600;
  background: linear-gradient(to right, #2980b9, #6dd5fa);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.search__up-icon-right {
  margin-left: 10px;
  font-weight: 600;
  background: linear-gradient(to right, #2980b9, #6dd5fa);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.mainmenu__title {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  padding: 8px 8px;
  color: #f7f7f7f7;
  font-weight: 600;
}

.today__trend {
  background-color: #f7f7f7f7;
  padding: 10px;
}

.ads__main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #f7f7f7f7;
}

.ads__main-left {
  margin-right: 70px;
}

.ads__main-right-ment {
  font-size: 18px;
}

.shopping__list {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  text-align: center;
  margin-right: 30px;
}

.list__photo {
  justify-content: center;
}

.list__title {
  display: block;
  justify-content: center;
  align-items: center;
}

.shopping__title {
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  margin-top: 10px;
  padding: 3px;
  color: white;
}
